version: "3.9"
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./postgres-init:/docker-entrypoint-initdb.d:ro

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  localstack:
    image: localstack/localstack:3
    environment:
      - SERVICES=sqs
      - AWS_DEFAULT_REGION=us-east-1
    ports:
      - "4566:4566"
    volumes:
      - ./localstack-init:/etc/localstack/init:ro

  event-service:
    build:
      context: ..
      dockerfile: Dockerfile.event-service
    env_file:
      - ../apps/event-service/.env
    depends_on:
      - postgres
      - localstack
    ports:
      - "3001:3001"

  analytics-api:
    build:
      context: ..
      dockerfile: Dockerfile.analytics-api
    env_file:
      - ../apps/analytics-api/.env
    depends_on:
      - postgres
      - redis
    ports:
      - "3002:3002"

  analytics-worker:
    build:
      context: ..
      dockerfile: Dockerfile.analytics-worker
    env_file:
      - ../apps/analytics-worker/.env
    depends_on:
      - postgres
      - localstack

  web:
    build:
      context: ..
      dockerfile: Dockerfile.web
    env_file:
      - ../apps/web/.env
    ports:
      - "3000:3000"
    depends_on:
      - event-service
      - analytics-api
